@model IntegralViewModel;
<div class="row">
    <div class="col-12 border-bottom">
        <h1 class="text-center">Cálculo de Integrais</h1>
        <p class="text-center ">A partir da ótica da Regra do Ponto Médio</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6 d-flex justify-content-center">
        <form class="d-flex flex-column align-items-center" asp-action="Index" asp-controller="Home">
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Superior"><span>Intervalo Superior: </span></label>
                    </p>
                </div>
                <input class="form-control" type="number" asp-for="@Model.Superior">
                <span class="text-danger form-text" asp-validation-for="@Model.Superior"></span>
            </div>
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Inferior"><span>Intervalo Inferior: </span></label>
                    </p>
                </div>
                <input class="form-control" type="number" asp-for="@Model.Inferior">
                <span class="text-danger form-text" asp-validation-for="@Model.Inferior"></span>
            </div>
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Passo"><span>Passo: </span></label>
                    </p>
                </div>
                <input class="form-control" type="number" asp-for="@Model.Passo">
                <span class="text-danger form-text" asp-validation-for="@Model.Passo"></span>
            </div>
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Formula"><span>Formula: </span></label>
                    </p>
                </div>
                <input class="form-control" type="text" asp-for="@Model.Formula">
                <span class="text-danger form-text" asp-validation-for="@Model.Formula"></span>
            </div>
            <div class="col-12 mb-3">
                <label for="">Quais métodos de integração gostaria de usar? (o padrão é o ponto médio)</label>
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex align-items-center flex-column mb-3">
                        <label for="">Soma de Riemman pela Esquerda</label>
                        <input type="checkbox" asp-for="@Model.RiemmanEsquerda" value=true>
                    </div>
                    <div class="d-flex align-items-center flex-column mb-3">
                        <label for="">Soma de Riemman pela Direita</label>
                        <input type="checkbox" asp-for="@Model.RiemmanDireita" value=true>
                    </div>
                    <div class="d-flex align-items-center flex-column mb-3">
                        <label for="">Regra do Trapézio</label>
                        <input type="checkbox" asp-for="@Model.RegraTrapezio" value=true>
                    </div>
                    <div class="d-flex align-items-center flex-column mb-3">
                        <label for="">Regra de 1/3 de Simpson</label>
                        <input type="checkbox" asp-for="@Model.Regra13Simpson" value=true>
                    </div>
                    <div class="d-flex align-items-center flex-column mb-3">
                        <label for="">Regra de 3/8 de Simpson</label>
                        <input type="checkbox" asp-for="@Model.Regra38Simpson" value=true>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary" title="Adicionar">Adicionar</button>
        </form>

    </div>
</div>



@if (@Model != null)



{

    <input type="number" min=0 step=(@Model.Superior-@Model.Inferior/@Model.Passo) max=@Model.Passo
        onchange=parseValue(this)>

    <div class='d-flex align-items-center'>
        <h2 class='pe-2'>Ponto Médio</h2>
        <h3 id='display-1' class='text-danger'></h3>
    </div>
    <script>
        let passo = (@Model.Superior - @Model.Inferior) / @Model.Passo;

        let listaPontoMedio = []
        @foreach (var pontoMedio in Model.ResPontoMedio.Individual)
        {
            @:listaPontoMedio.push('@pontoMedio');
        }
    </script>


    @if (Model.ResRiemmanEsquerda is not null)
    {
        <div class='d-flex align-items-center'>
            <h2 class='pe-2'>Soma de Riemman pela Esquerda</h2>
            <h3 id='display-5' class='text-danger'></h3>
        </div>
<script>
        let listaRiemmanEsquerda = []
   @foreach(var riemmanEsquerda in Model.ResRiemmanEsquerda.Individual)
{
            @:listaRiemmanEsquerda.push('@riemmanEsquerda');
        }

</script>

    }

    @if (Model.ResRiemmanDireita is not null)
    {
        <div class='d-flex align-items-center'>
            <h2 class='pe-2'>Soma de Riemman pela Direita</h2>
            <h3 id='display-6' class='text-danger'></h3>
        </div>
        <script> let listaRiemmanDireita = []
            @foreach (var riemmanDireita in Model.ResRiemmanDireita.Individual)



            {

                @:listaRiemmanDireita.push('@riemmanDireita');
            }
        </script>
    }


    
@if(Model.ResTrapezio is not null)

{
    
        <div class='d-flex align-items-center'>
            <h2 class='pe-2'>Regra do Trapézio</h2>
            <h3 id='display-2' class='text-danger'></h3>
        </div>
        <script>
        let listaTrapezio = []
        @foreach (var trapezio in Model.ResTrapezio.Individual)

        {
            @:listaTrapezio.push('@trapezio')
        }
        </script>
    }



    
@if(Model.ResSimpson is not null)
{
        <div class='d-flex align-items-center'>
            <h2 class='pe-2'>Regra de 1/3 de Simpson</h2>
            <h3 id='display-3' class='text-danger'></h3>
        </div>
        <script>
        let listaSimpson13 = []
        @foreach (var simpson13 in Model.ResSimpson.Individual)

        {
            @:listaSimpson13.push('@simpson13')
        }
        </script>
    }



    
@if(Model.ResSimpson38 is not null)

{

        <div class='d-flex align-items-center'>
            <h2 class='pe-2'>Regra de 3/8 de Simpson</h2>
            <h3 id='display-4' class='text-danger'></h3>
        </div>
        <script>
    let listaSimpson38 = []
        @foreach (var simpson38 in Model.ResSimpson38.Individual)



        {
            @:listaSimpson38.push('@simpson38')
        }
        </script>
    }
    @* localStorage.setItem('lista', JSON.stringify(lista)); *@
}