@model IntegralViewModel;
<div class="row">
    <div class="col-12 border-bottom">
        <h1 class="text-center">Cálculo de Integrais</h1>
        <p class="text-center ">A partir da ótica da Regra do Ponto Médio</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6 d-flex justify-content-center">
        <form class="d-flex flex-column align-items-center" asp-action="Calcular" asp-controller="Home">
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Superior"><span>Intervalo Superior: </span></label>
                    </p>
                </div>
                <input class="form-control" type="text" asp-for="@Model.Superior">
                <span class="text-danger form-text" asp-validation-for="@Model.Superior"></span>
            </div>
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Inferior"><span>Intervalo Inferior: </span></label>
                    </p>
                </div>
                <input class="form-control" type="text" asp-for="@Model.Inferior">
                <span class="text-danger form-text" asp-validation-for="@Model.Inferior"></span>
            </div>
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Passo"><span>Passo: </span></label>
                    </p>
                </div>
                <input class="form-control" type="text" asp-for="@Model.Passo">
                <span class="text-danger form-text" asp-validation-for="@Model.Passo"></span>
            </div>
            <div class="col-12 mb-3">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">
                        <label class="form-label" asp-for="@Model.Formula"><span>Formula: </span></label>
                    </p>
                </div>
                <input class="form-control" type="text" asp-for="@Model.Formula">
                <span class="text-danger form-text" asp-validation-for="@Model.Formula"></span>
            </div>
            <button type="submit" class="btn btn-primary" title="Adicionar">Adicionar</button>
        </form>
    </div>
</div>
